/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/
// body {
//   color: var(--bs-light);
//   background-color: #020618;
// }

// .bg-body-tertiary {
//   background-color: #020618 !important;
// }

// .btn-primary {
//   @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
// }

// .btn-outline-primary {
//   @include button-outline-variant($mynewcolor, red, lighten($mynewcolor,5%), $mynewcolor);
// }

.logo,
.btn-close {
  filter: invert(0.48) brightness(1.8);
}

@media (max-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid $yg-gray-200;
    border-radius: 0;
    padding: 0.75rem 0 !important;
  }
}

.dropdown-menu.show {
  background: none;
}

.copyright {
  font-size: 0.75rem !important;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  .copyright {
    text-align: left;
  }
}

.right-slant-shape:after {
  background-color: var(--bs-body-bg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -1px;
  -webkit-clip-path: polygon(100% 81%, 0 100%, 100% 100%);
  clip-path: polygon(100% 81%, 0 100%, 100% 100%);
  content: "";
  height: 380px;
  position: absolute;
  width: 100%;
}
