// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/

// YG COLOR
$yg-purple-bg: #020617;
$yg-gray-100: #1e293b;
$yg-gray-200: #334155;
$yg-gray-800: #cbd5e1;
$yg-light: #1e293b;
$yg-dark: #fff;
$yg-white: #1e293b;
$yg-nav-pills-link-active-color: #475569;
$yg-nav-pills-link-active-bg: #1e293b;

$yg-primary: #8b3dff;
$yg-secondary: #e2e8f0;

$yg-body-bg: $yg-purple-bg;
$yg-body-color: #64748b;
$yg-body-tertiary-color: #475569;

$yg-headings-color: #e2e8f0;

$yg-navbar-color: #64748b;
$yg-navbar-color-active: #cbd5e1;

$yg-dropdown-color: #475569;
$yg-dropdown-bg: #1e293b;
$yg-dropdown-color-active: #8b3dff;

$yg-card-bg: #1e293b;

$yg-border-color: #334155;

$yg-light-bg-subtle: #0f172a;
$yg-light-text-emphasis: #f1f5f9;
$yg-light-border-subtle: #334155;
// END YG COLOR

/*-----------------------------------------------------------------------------*/

// Fonts
$font-family-sans-serif: "Public Sans", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Headings & display
$headings-font-family: null;
$headings-font-weight: 500;
$display-font-weight: 300;

// scss-docs-start theme-color-variables
$primary: $yg-primary;
$secondary: $yg-secondary;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-900;

// Settings for the `<body>` element.
$body-bg: $yg-body-bg;
$body-color: $yg-body-color;

$body-tertiary-color: $yg-body-tertiary-color;
$body-tertiary-bg: $yg-purple-bg;

$headings-color: $yg-headings-color;

// Navbar
$navbar-light-color: rgba($yg-navbar-color, 0.55);
$navbar-light-hover-color: $yg-navbar-color-active;
$navbar-light-active-color: $yg-navbar-color-active;

$dropdown-color: $yg-dropdown-color;
$dropdown-bg: $yg-dropdown-bg;
$dropdown-link-color: $yg-dropdown-color;
$dropdown-link-hover-color: $yg-dropdown-color-active;
$dropdown-link-hover-bg: none;
$dropdown-link-active-color: $yg-dropdown-color-active;
$dropdown-link-active-bg: none;

// Canvas
$offcanvas-bg: $yg-body-bg;
$offcanvas-color: $yg-body-color;

// Checkboxes
$form-check-input-border-radius: 0.25em;

// Style anchor elements.
$link-decoration: underline;
$link-hover-decoration: null;

// Card

$card-bg: $yg-card-bg;
$card-bg-color: $yg-border-color;

$border-color: $yg-border-color;
$border-color-translucent: $yg-border-color;

$light-bg-subtle: $yg-light-bg-subtle;
$light-text-emphasis: $yg-light-text-emphasis;
$light-border-subtle: $yg-light-border-subtle;
